<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788264178175-m7ocm2ah7ns45i9ij670sinjols25ui6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788264178175-m7ocm2ah7ns45i9ij670sinjols25ui6</string>
	<key>API_KEY</key>
	<string>AIzaSyD_kU27UECKJknpv5K4yAqaI6IB6hLIsZA</string>
	<key>GCM_SENDER_ID</key>
	<string>788264178175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodShop</string>
	<key>PROJECT_ID</key>
	<string>food-panddu</string>
	<key>STORAGE_BUCKET</key>
	<string>food-panddu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788264178175:ios:2805523ec11614d5d6d7ca</string>
</dict>
</plist>